@model IEnumerable<ShipCompliantMVC.Models.Recipe>

@{
    ViewBag.Title = "Recipe Index";
}

<h2>Recipe Index</h2>


<p>
    @Html.ActionLink("Submit New Recipe", "Create")<br/>
    @Html.ActionLink("Find Recipe", "SearchIndex")
</p>
<article>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MashType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MashType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Review", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) @*|*@
                @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>
</article>

<aside>
    <h3>BOTM</h3>
    <p>
        Every month a new recipe is selected as Beer Of The Month.  The recipe is chosen to highlight the season or availability of in-season ingredients.
    </p>
    <h6>George Washington Apple Amber Ale</h6>
    @Html.ActionLink("Details", "Details/5", "Recipes")
    <ul>
        <li>2.5 gallons Mott's Natural Apple Juice</li>
        <li>3 pounds Briess Sparkling Amber Dry Malt Extract</li>
        <li>0.60 ounces Warrior Hops (17.2AA)</li>
        <li>Yeast Nutrient</li>
        <li>White Labs English Ale Yeast Cake</li>
    </ul>
</aside>
